/*----------------------------------------------------*/
/*font Variables*/
/*Color Variables*/
/*=================== fonts ====================*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500|Rubik:500,700");
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Medium Layout: 1280px */
/* Tablet Layout: 768px */
/* Mobile Layout: 320px */
/* Wide Mobile Layout: 480px */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
body {
  line-height: 26px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #777777;
  background: url(../img/body-bg.png) no-repeat center; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  color: #000000; }

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

.mb-50 {
  margin-bottom: 50px; }

/*---------------------------------------------------- */
/*----------------------------------------------------*/
.section_gap {
  padding: 50px 0; }
  @media (max-width: 1199px) {
    .section_gap {
      padding: 80px 0; } }

.section_gap_bottom {
  padding-bottom: 10px; }
  @media (max-width: 1199px) {
    .section_gap_bottom {
      padding-bottom: 10px; } }

/* Main Title Area css
============================================================================================ */
.main_title {
  text-align: center;
  margin-bottom: 100px; }
  @media (max-width: 1199px) {
    .main_title {
      margin-bottom: 50px; } }
  .main_title h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 15px;
    line-height: 50px;
    text-transform: uppercase; }
    @media (max-width: 991px) {
      .main_title h2 br {
        display: none; } }
    @media (max-width: 767px) {
      .main_title h2 {
        font-size: 30px;
        line-height: 34px; } }
  .main_title p {
    margin-bottom: 0px; }
    @media (max-width: 991px) {
      .main_title p br {
        display: none; } }

/* End Main Title Area css
============================================================================================ */
/* Start Gradient Area css
============================================================================================ */

/* End Gradient Area css
============================================================================================ */
.primary_btn {
  display: inline-block;
  color: #fff;
  letter-spacing: 0px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 46px;
  outline: none !important;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: 5px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
  border: double 2px transparent;
  box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3); }
  .primary_btn span {
    padding: 0 42px; }
  .primary_btn.tr-bg {
    background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at top left, #4458dc, #854fee);
    border: 2px solid transparent;
    color: #222222;
    box-shadow: none; }
    .primary_btn.tr-bg:hover {
      background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
      border: double 2px transparent;
      color: #ffffff;
      box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3); }
  .primary_btn:hover {
    background-image: linear-gradient(#ffffff, #ffffff), radial-gradient(circle at top left, #4458dc, #854fee);
    border: 2px solid #854fee;
    color: #222222;
    box-shadow: none;
    background-clip: border-box; }

/*---------------------------------------------------- */
/*----------------------------------------------------*/

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Home Banner Area css
============================================================================================ */
.home_banner_area {
  z-index: 1;
  background: url(../img/banner/home-banner.png) no-repeat top center;
  background-position: center;
  background-size: cover; }
  .home_banner_area .banner_inner {
    width: 100%; }
    .home_banner_area .banner_inner .home_right_img {
      padding-top: 197px; }
      @media (max-width: 1480px) {
        .home_banner_area .banner_inner .home_right_img img {
          max-width: 100%;
          height: auto; } }
      @media (max-width: 991px) {
        .home_banner_area .banner_inner .home_right_img {
          display: none; } }
    .home_banner_area .banner_inner .col-lg-7 {
      vertical-align: middle;
      align-self: center; }
    .home_banner_area .banner_inner .banner_content {
      text-align: left; }
      @media (max-width: 991px) {
        .home_banner_area .banner_inner .banner_content {
          margin-top: 150px; } }
      .home_banner_area .banner_inner .banner_content h3 {
        font-size: 40px;
        margin-bottom: 20px;
        position: relative; }
        .home_banner_area .banner_inner .banner_content h3:after {
          content: '';
          width: 410px;
          height: 2px;
          position: absolute;
          top: 50%;
          left: 23%;
          background: #000000; }
          @media (max-width: 575px) {
            .home_banner_area .banner_inner .banner_content h3:after {
              display: none; } }
      .home_banner_area .banner_inner .banner_content h1 {
        margin-top: 20px;
        font-size: 70px;
        line-height: 60px;
        margin-bottom: 25px; }
        @media (max-width: 1024px) {
          .home_banner_area .banner_inner .banner_content h1 {
            font-size: 60px; } }
        @media (max-width: 767px) {
          .home_banner_area .banner_inner .banner_content h1 {
            font-size: 50px; } }
      .home_banner_area .banner_inner .banner_content h5 {
        font-size: 24px;
        margin-bottom: 35px; }

/* End Home Banner Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Latest Blog Area css
============================================================================================ */
/* End Latest Blog Area css
============================================================================================ */

/* Causes Area css
============================================================================================ */

/* End Causes Area css
============================================================================================ */
/*================= latest_blog_area css =============*/

/*========= blog_categorie_area css ===========*/

/*============ blog_left_sidebar css ==============*/

/*============ Start Blog Single Styles  =============*/

/*============ End Blog Single Styles  =============*/
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*============== contact_area css ================*/

/* Contact Success and error Area css
============================================================================================ */

/* End Contact Success and error Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/*============== Elements Area css ================*/

.mb-30 {
  margin-bottom: 30px; }

/*============== End Elements Area css ================*/
/*==============Elements Button Area css ================*/

.title_color {
  color: #000000; }

/*==============End Elements Button Area css ================*/
/* =================================== */
/*  Elements Page Styles
/* =================================== */
/*---------- Start Elements Page -------------*/

.section-top-border {
  padding: 50px 0;
  border-top: 1px dotted #eee; }

/*---------- End Elements Page -------------*/

h1 {
  font-size: 36px; }

h2 {
  font-size: 30px; }

h3 {
  font-size: 24px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 16px; }

@media (max-width: 991px) {
  .progress-table-wrap {
    overflow-x: scroll; } }
.progress-table {
  background: #fff;
  padding: 15px 0px 30px 0px;
  min-width: 800px; }

.progress-table .serial {
  width: 11.83%;
  padding-left: 30px; }

.progress-table .country {
  width: 28.07%; }

.progress-table .visit {
  width: 19.74%; }

.progress-table .percentage {
  width: 40.36%;
  padding-right: 50px; }

.progress-table .table-head {
  display: flex; }

.progress-table .table-head .serial, .progress-table .table-head .country, .progress-table .table-head .visit, .progress-table .table-head .percentage {
  color: #222222;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 500; }

.progress-table .table-row {
  padding: 15px 0;
  border-top: 1px solid #edf3fd;
  display: flex; }

.progress-table .table-row .serial, .progress-table .table-row .country, .progress-table .table-row .visit, .progress-table .table-row .percentage {
  display: flex;
  align-items: center; }

.progress-table .table-row .percentage .progress {
  width: 80%;
  border-radius: 0px;
  background: transparent; }

.progress-table .table-row .percentage .progress .progress-bar {
  height: 5px;
  line-height: 5px; }

.progress-table .table-row .percentage .progress .progress-bar.color-1 {
  background-color: #6382e6; }

.progress-table .table-row .percentage .progress .progress-bar.color-2 {
  background-color: #e66686; }

.progress-table .table-row .percentage .progress .progress-bar.color-3 {
  background-color: #f09359; }

.progress-table .table-row .percentage .progress .progress-bar.color-4 {
  background-color: #73fbaf; }

.progress-table .table-row .percentage .progress .progress-bar.color-5 {
  background-color: #73fbaf; }

.progress-table .table-row .percentage .progress .progress-bar.color-6 {
  background-color: #6382e6; }

.progress-table .table-row .percentage .progress .progress-bar.color-7 {
  background-color: #a367e7; }

.progress-table .table-row .percentage .progress .progress-bar.color-8 {
  background-color: #e66686; }

/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Start About Us Area css
============================================================================================ */
.about_area {
  position: relative; }
  .about_area .main_title {
    margin-bottom: 0px; }
    .about_area .main_title p {
      margin-bottom: 20px; }
  .about_area .primary_btn {
    margin-top: 20px; 
    margin-left: 1%;
    width: 100%;
  }
  .about_area .about_img {
    position: relative;
    right: 250px; }
    @media (max-width: 1480px) {
      .about_area .about_img {
        right: 0; }
        .about_area .about_img img {
          max-width: 100%;
          height: auto; } }
    @media (max-width: 991px) {
      .about_area .about_img {
        display: none; } }

/* End About Us Area css
============================================================================================ */
/* Start Barand Area css
============================================================================================ */
.brand_area {
  padding-bottom: 100px; }
  @media (max-width: 1199px) {
    .brand_area {
      padding-bottom: 80px; } }

/* End Barand Area css
============================================================================================ */
/* Start Features Area css
============================================================================================ */
.features_area {
  padding-bottom: 100px; }
  @media (max-width: 1199px) {
    .features_area {
      padding-bottom: 50px; } }

.feature_item {
  padding: 45px 25px;
  text-align: center;
  background: #f9f9fd;
  cursor: pointer;
  margin-bottom: 30px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }
  .feature_item img {
    margin-bottom: 35px; }
  .feature_item h4 {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase; }
  .feature_item p {
    margin-bottom: 0px; }
  .feature_item:hover {
    box-shadow: 0px 15px 30px rgba(77, 87, 222, 0.3);
    background: #fff; }

/* End Features Area css
============================================================================================ */
/* Start Brand Area css
============================================================================================ */
.single-brand-item {
  width: 170px;
  height: 100px;
  cursor: pointer;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  box-shadow: none;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }
  @media only screen and (max-width: 767px) {
    .single-brand-item {
      height: 100px;
      width: 140px; } }
  @media (max-width: 575px) {
    .single-brand-item {
      margin: 0px auto;
      margin-bottom: 30px; } }
  .single-brand-item .d-table-cell {
    vertical-align: middle; }
  .single-brand-item img {
    max-width: 80px;
    margin: 0 auto;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s; }
    @media only screen and (max-width: 767px) {
      .single-brand-item img {
        max-width: 100px; } }
  .single-brand-item:hover {
    border: 1px solid transparent;
    box-shadow: 0px 8px 30px rgba(118, 85, 225, 0.15); }
    .single-brand-item:hover img {
      filter: brightness(0%);
      -o-filter: brightness(0%);
      -ms-filter: brightness(0%);
      -moz-filter: brightness(0%);
      -webkit-filter: brightness(0%); }

.client-info {
  padding: 25px 30px;
  background: #faf8ff;
  text-align: center;
  position: relative;
  margin-top: 25px; }
  @media only screen and (max-width: 991px) {
    .client-info {
      margin-top: 50px; } }
  @media (max-width: 575px) {
    .client-info {
      padding-top: 50px; } }
  .client-info:before {
    content: '';
    position: absolute;
    top: -25px;
    left: -50px;
    background: url(../img/client-info-bg.png) no-repeat;
    height: 175px;
    width: 175px; }
    @media (max-width: 575px) {
      .client-info:before {
        background: none; } }
  @media (max-width: 575px) {
    .client-info .d-flex {
      -ms-flex-align: center;
      align-items: center; } }
  .client-info .lage {
    color: #854fee;
    font-family: "Rubik", sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 85px;
    position: relative;
    z-index: 9; }
  .client-info .smll {
    text-align: left;
    color: #000000;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
    margin-left: 20px; }

/* End Brand Area css
============================================================================================ */
/* Start Portfolio Area css
============================================================================================ */
.portfolio_area {
  padding-bottom: 20px; }
  @media (max-width: 991px) {
    .portfolio_area {
      padding-bottom: 50px; } }

/* End Portfolio Area css
============================================================================================ */
/* Start Testimonial Area css
============================================================================================ */

.testi_item {
  padding: 50px 55px;
  margin-bottom: 200px;
  margin-left: 10px;
  margin: 0px 10px 80px;
  box-shadow: 0px 15px 30px 0px rgba(221, 221, 221, 0.3);
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s; }
  @media (max-width: 991px) {
    .testi_item {
      margin-bottom: 0px; } }
  @media (max-width: 575px) {
    .testi_item {
      padding: 30px 20px; } }
  .testi_item img {
    border-radius: 5px; }
  .testi_item .col-lg-8 {
    vertical-align: middle;
    align-self: center; }
  @media (max-width: 991px) {
    .testi_item .testi_text {
      margin-top: 50px; } }
  .testi_item .testi_text h4 {
    font-size: 20px;
    margin-bottom: 15px;
    text-transform: uppercase; }
  .testi_item:hover {
    box-shadow: 0px 10px 20px 0px rgba(118, 85, 225, 0.1); }

/* End Testimonial Area css
============================================================================================ */
/* Start Newsletter Area css
============================================================================================ */

/* End Newsletter Area css
============================================================================================ */
/*---------------------------------------------------- */
/*----------------------------------------------------*/
@media (max-width: 1619px) {
  /* Main Menu Area css
  ============================================================================================ */

  /* End Main Menu Area css
  ============================================================================================ */ }
@media (max-width: 1199px) {
  /* Main Menu Area css
  ============================================================================================ */

  /* End Main Menu Area css
  ============================================================================================ */
  /* Home Banner Area css
  ============================================================================================ */
  .home_banner_area .banner_inner {
    padding: 100px 0px; }

  /* End Home Banner Area css
  ============================================================================================ */ }
@media (max-width: 991px) {
  /* Main Menu Area css
  ============================================================================================ */

  /* End Main Menu Area css
  ============================================================================================ */
  /* Start Home banner Area css
  ============================================================================================ */
  .home_banner_area {
    margin-top: 0; }

  .home_right_img {
    display: none; }

  /* Footer Area css
  ============================================================================================ */
  .footer_area {
    padding-top: 50px !important;
    padding-bottom: 0px !important;
    background-image: none !important;
    background-color: #fcf8ff; }

  /* Blog page Area css
  ============================================================================================ */

  /* End Blog page Area css
  ============================================================================================ */
  /* Contact Page Area css
  ============================================================================================ */

  /* End Contact page Area css
  ============================================================================================ */

  /* Footer Area css
  ============================================================================================ */

  /* End End Footer Area css
  ============================================================================================ */ }
@media (max-width: 767px) {
  .home_banner_area {
    min-height: 300px; }

  .home_banner_area .banner_inner {
    min-height: 300px;
    padding-top: 200px;
    padding-bottom: 50px; }

  .home_banner_area .banner_inner .banner_content {
    margin-top: 0px; }

  /* Blog Page Area css
  ============================================================================================ */

  /* End Blog Page Area css
  ============================================================================================ */
  .home_banner_area .banner_inner .banner_content h3 {
    font-size: 30px; }

  /* Footer Area css
  ============================================================================================ */

  /* End End Footer Area css
  ============================================================================================ */ }
@media (max-width: 575px) {

  /* Home Banner Area css
  ============================================================================================ */

  .home_banner_area {
    min-height: 450px; }

  .home_banner_area .banner_inner {
    min-height: 450px; }

  .home_banner_area .banner_inner .banner_content h5 {
    margin-top: 0px; }

  /* End Home Banner Area css
  ============================================================================================ */
  .section_gap {
    padding-top: 70px;
    padding-bottom: 70px; }

  .main_title h2 {
    font-size: 25px; }

  /*Recent Update Area css
  ============================================================================================ */
  /* Elements Area css
  ============================================================================================ */

  /* End Elements Area css
  ============================================================================================ */
  /* Blog Page Area css
  ============================================================================================ */

  /* End Blog Page Area css
  ============================================================================================ */
  /* Footer Area css
  ============================================================================================ */

  /* End End Footer Area css
  ============================================================================================ */ }
@media (max-width: 480px) {
  /* Main Menu Area css
  ============================================================================================ */

  /* End Main Menu Area css
  ============================================================================================ */
  /* Home Banner Area css
  ============================================================================================ */
  .home_banner_area .banner_inner .banner_content {
    padding: 30px 15px;
    margin-top: 0px; }

  .home_banner_area .banner_inner .banner_content h3 {
    font-size: 24px; }

  /* End Home Banner Area css
  ============================================================================================ */

  /* Blog Page Area css
  ============================================================================================ */

  /* End Blog Page Area css
  ============================================================================================ */ }
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* Start Brand Carousel Area css
  ============================================================================================ */ }
/*---------------------------------------------------- */
/*----------------------------------------------------*/
/* Footer Area css
============================================================================================ */

.footer_area {
  padding: 0px 0;
  padding-top: 100px;
  position: relative; }
  .footer_area:before {
    content: '';
    position: absolute;
    top: -200px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: #f9f9fd;
    z-index: -1; }
  @media (max-width: 1024px) {
    .footer_area {
      padding: 60px 0; } }
  .footer_area .footer_bottom {
    text-align: center; }
    .footer_area .footer_bottom p {
      margin-bottom: 0; }

/* End Footer Area css
============================================================================================ */
/*---------------------------------------------------- */

/* Time Line Area css
============================================================================================ */
.main-timeline {
  font-family: tahoma;
  padding: 20px 0;
  position: relative;
}

.main-timeline::before,
.main-timeline::after {
  content: "";
  height: 40px;
  width: 40px;
  background-color: #e7e7e7;
  border-radius: 50%;
  border: 10px solid #303334;
  transform: translatex(-50%);
  position: absolute;
  left: 50%;
  top: -15px;
  z-index: 2;
}

.main-timeline::after {
  top: auto;
  bottom: 15px;
}

.main-timeline .timeline {
  padding: 35px 0;
  margin-top: -30px;
  position: relative;
  z-index: 1;
}

.main-timeline .timeline::before,
.main-timeline .timeline::after {
  content: "";
  height: 100%;
  width: 50%;
  border-radius: 110px 0 0 110px;
  border: 15px solid #46b2bc;
  border-right: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.main-timeline .timeline::after {
  height: calc(100% - 30px);
  width: calc(50% - 12px);
  border-color: #65c7d0;
  left: 12px;
  top: 15px;
}

.main-timeline .timeline-content {
  display: inline-block;
}

.main-timeline .timeline-content:hover {
  text-decoration: none;
}

.main-timeline .timeline-year {
  color: #65c7d0;
  font-size: 50px;
  font-weight: 600;
  display: inline-block;
  transform: translatey(-50%);
  position: absolute;
  top: 50%;
  left: 10%;
}

.main-timeline .timeline-icon {
    color: #65c7d0;
    font-size: 70px;
    display: inline-block;
    transform: translateY(-50%);
    position: absolute;
    left: 34%;
    top: 50%;
}

.main-timeline .content {
  color: #909090;
  width: 50%;
  padding: 20px;
  display: inline-block;
  float: right;
}

.main-timeline .title {
  color: #65c7d0;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 5px 0;
}

.main-timeline .description {
  font-size: 16px;
  margin: 0;
}

.main-timeline .timeline:nth-child(even)::before {
  left: auto;
  right: 0;
  border-radius: 0 110px 110px 0;
  border: 15px solid red;
  border-left: none;
}

.main-timeline .timeline:nth-child(even)::after {
  left: auto;
  right: 12px;
  border-radius: 0 100px 100px 0;
  border: 15px solid green;
  border-left: none;
}

.main-timeline .timeline:nth-child(even) .content {
  float: left;
}

.main-timeline .timeline:nth-child(even) .timeline-year {
    left: auto;
    right: 10%;
}

.main-timeline .timeline:nth-child(even) .timeline-icon {
  left: auto;
  right: 32%;
}

.main-timeline .timeline:nth-child(5n+1)::before {
  border-color: #46b2bc;
}

.main-timeline .timeline:nth-child(5n+1)::after {
  border-color: #65c7d0;
}

.main-timeline .timeline:nth-child(5n+1) .timeline-icon {
  color: #65c7d0;
}

.main-timeline .timeline:nth-child(5n+1) .timeline-year {
  color: #65c7d0;
}

.main-timeline .timeline:nth-child(5n+1) .title {
  color: #65c7d0;
}

.main-timeline .timeline:nth-child(5n+2)::before {
  border-color: #ea3c14;
}

.main-timeline .timeline:nth-child(5n+2)::after {
  border-color: #EF5720;
}

.main-timeline .timeline:nth-child(5n+2) .timeline-icon {
  color: #EA3C14;
}

.main-timeline .timeline:nth-child(5n+2) .timeline-year {
  color: #EA3C14;
}

.main-timeline .timeline:nth-child(5n+2) .title {
  color: #EA3C14;
}

.main-timeline .timeline:nth-child(5n+3)::before {
  border-color: #8CC63E;
}

.main-timeline .timeline:nth-child(5n+3)::after {
  border-color: #6CAF29;
}

.main-timeline .timeline:nth-child(5n+3) .timeline-icon
{
  color: #8CC63E;
}

.main-timeline .timeline:nth-child(5n+3) .timeline-year {
  color: #8CC63E;
}

.main-timeline .timeline:nth-child(5n+3) .title {
  color: #8CC63E;
}

.main-timeline .timeline:nth-child(5n+4)::before {
  border-color: #F99324;
}

.main-timeline .timeline:nth-child(5n+4)::after {
  border-color: #FBB03B;
}

.main-timeline .timeline:nth-child(5n+4) .timeline-icon {
  color: #F99324;
}

.main-timeline .timeline:nth-child(5n+4) .timeline-year {
  color: #F99324;
}

.main-timeline .timeline:nth-child(5n+4) .title {
  color: #F99324;
}

.main-timeline .timeline:nth-child(5n+5)::before {
  border-color: #0071BD;
}

.main-timeline .timeline:nth-child(5n+5)::after {
  border-color: #0050A3;
}

.main-timeline .timeline:nth-child(5n+5) .timeline-icon {
  color: #0071BD;
}

.main-timeline .timeline:nth-child(5n+5) .timeline-year {
  color: #0071BD;
}

.main-timeline .timeline:nth-child(5n+5) .title {
  color: #0071BD;
}

@media screen and (max-width:1200px){
    .main-timeline .timeline:after{ border-radius: 88px 0 0 88px; }
    .main-timeline .timeline:nth-child(even):after{ border-radius: 0 88px 88px 0; }
}
@media screen and (max-width:767px){
    .main-timeline .timeline{ margin-top: -19px; }
    .main-timeline .timeline:before {
        border-radius: 50px 0 0 50px;
        border-width: 10px;
    }
    .main-timeline .timeline:after {
        height: calc(100% - 18px);
        width: calc(50% - 9px);
        border-radius: 43px 0 0 43px;
        border-width:10px;
        top: 9px;
        left: 9px;
    }
    .main-timeline .timeline:nth-child(even):before {
        border-radius: 0 50px 50px 0;
        border-width: 10px;
    }
    .main-timeline .timeline:nth-child(even):after {
        height: calc(100% - 18px);
        width: calc(50% - 9px);
        border-radius: 0 43px 43px 0;
        border-width: 10px;
        top: 9px;
        right: 9px;
    }
    .main-timeline .timeline-icon{ font-size: 60px; }
    .main-timeline .timeline-year{ font-size: 40px; }
}
@media screen and (max-width:479px){
    .main-timeline .timeline-icon{
        font-size: 50px;
        transform:translateY(0);
        top: 25%;
        left: 10%;
    }
    .main-timeline .timeline-year{
        font-size: 25px;
        transform:translateY(0);
        top: 65%;
        left: 9%;
    }
    .main-timeline .content{
        width: 68%;
        padding: 10px;
    }
    .main-timeline .title{ font-size: 18px; }
    .main-timeline .timeline:nth-child(even) .timeline-icon{
        right: 10%;
    }
    .main-timeline .timeline:nth-child(even) .timeline-year{
        right: 9%;
    }

}
/* End Timeline Area css
============================================================================================ */
/*---------------------------------------------------- */

.batman {
  padding: 20px 0;
  position: relative;
}

/*# sourceMappingURL=style.css.map */